@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(0, 0%, 42%);
    --grey-950: hsl(0, 0%, 7%);
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.blog-card {
    background-color: var(--white);
    border: 1px solid var(--grey-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px var(--grey-950);
    padding: 24px;
    max-width: 384px;
    margin: 20px;
}

.blog-card__image {
    width: 100%;
    border-radius: 10px;
}

.blog-card__content {
    margin-top: 24px;
}

.blog-card__category {
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 800;
    font-size: 14px;
    color: var(--grey-950);
    display: inline-block;
}

.blog-card__date {
    color: var(--grey-950);
    font-size: 14px;
    margin-top: 12px;
}

.blog-card__title {
    font-size: 24px;
    font-weight: 800;
    color: var(--grey-950);
    margin-top: 12px;
    text-decoration: none;
}

.blog-card__title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.blog-card__description {
    color: var(--grey-500);
    line-height: 1.5;
    margin-top: 12px;
}

.blog-card__author {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.blog-card__avatar {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.blog-card__author-name {
    color: var(--grey-950);
    font-weight: 800;
    font-size: 14px;
}

.attribution {
    text-align: center;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}